.footer-container {
  position: relative;
  background-color: #020618; /* bg-slate-950 */
  overflow: hidden;
  transition: background-color 0.5s ease-in-out;
}

.footer-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  background-color: #2e5aff; /* bg-blue-500 */
  transform: translateX(0);
  transition: transform 0.8s ease-in-out, opacity 0.8s ease-in-out;
  opacity: 0;
}

.footer-container.hovered::before {
  transform: translateX(-100%);
  opacity: 1;
}

.footer-container.unhovered::before {
  transform: translateX(100%);
  opacity: 1;
}
